.about{
  padding: 60px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-size: 25px;
  /* width: 50%; */
  /* float: left; */
  /* padding-top: 30px; */
}

.bgimg{
  z-index: -1;
  position: absolute;
  width: 100%;
}

link:hover{
  background-color: #ffffff;
}

mark{
  /* padding: 0.2em; */
  /* border-radius: 0.2em; */
  /* border: 0.5px solid #000; */
  padding: 2px;
  color: black;
}

.markred{
  background-color: #f56868;
}

.markwhite{
  background-color: #ffffff;
}

.markorange{
  background-color: #f5a442;
}

.markyellow{
  background-color: #f5d142;
}

.markblue{
  background-color: #42bcf5;
}

.markgreen{
  background-color: #42f563;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
} */
